cd  <!-- LEFTPART -->
  <div class="arlo_tm_leftpart_wrap">
      <div class="leftpart_inner">
          <div class="logo_wrap">
              <a href="#"><img src="{{global.logo}}" alt="" /></a>
          </div>
          <div class="menu_list_wrap">
              <ul class="anchor_nav">
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#services">Experience</a></li>
                  <li><a href="#portfolio">Education</a></li>
                  <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
          <div class="leftpart_bottom">
              <div class="social_wrap">
                  <ul>
                      {{#global.social.linkedin.visible}}
                      <li><a target="_blank" href="{{global.social.linkedin.url}}"><i class="xcon-{{global.social.linkedin.icon}}"></i></a></li>
                      {{/global.social.linkedin.visible}}
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- /LEFTPART -->
