<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
   {{>head}}
</head>

<body>

<!-- WRAPPER ALL -->
<div class="arlo_tm_wrapper_all">
    {{>mobile-menu}}

    <!-- CONTENT -->
    <div class="arlo_tm_content">
        {{>sidebar}}

        <!-- RIGHTPART -->
        <div class="arlo_tm_rightpart">
            <div class="rightpart_inner">
                <div class="arlo_tm_section" id="home">
                    <div class="arlo_tm_hero_header_wrap">
                        <div class="arlo_tm_universal_box_wrap">
                            <div class="bg_wrap">
                                <div class="overlay_image hero jarallax" data-speed="0.1"></div>
                                <div class="overlay_color hero" style="background:black"></div>
                            </div>
                            <div class="content hero">
                                <div class="inner_content">
                                    <div class="image_wrap">
                                        <img src="{{page.profile.img_avatar}}" alt="" />
                                    </div>
                                    <div class="name_holder">
                                        <h3>{{page.profile.firstName}}<span>{{page.profile.lastName}}</span></h3>
                                    </div>
                                    <div class="text_typing">
                                        <p>{{page.profile.caption}}<span class=""></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- ABOUT -->
                <div class="arlo_tm_section relative" id="about">
                    <div class="arlo_tm_about_wrapper_all">
                        <div class="container">
                            <div class="arlo_tm_title_holder">
                                <h3>{{page.section1.header}}</h3>
                                <span>{{page.section1.subheader}}</span>
                            </div>
                            <div class="arlo_tm_about_wrap">
                                <div class="author_wrap">
                                    <div class="leftbox">
                                        <div class="about_image_wrap parallax" data-relative-input="true">
                                            <div class="image layer" data-depth="0.1">
                                                <img src="img/about/550x640.jpg" alt="" />
                                                <div class="inner" data-img-url="{{page.section1.img_potrait}}"></div>
                                            </div>
                                            <div class="border layer" data-depth="0.2">
                                                <img src="img/about/550x640.jpg" alt="" />
                                                <div class="inner"></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="rightbox">
                                        <div class="arlo_tm_mini_title_holder">
                                            <h4>{{page.section1.greeting}}<span class=""></span></h4>
                                        </div>
                                        <div class="definition">
                                            <p>{{page.section1.bio}}</p>
                                        </div>
                                        <div class="about_short_contact_wrap">
                                            <ul>
                                                <li>
                                                    <span><label>Birthday:</label> 04.22.1998</span>
                                                </li>
                                                <li>
                                                    <span><label>Age:</label> 21</span>
                                                </li>
                                                <li>
                                                    <span><label>City:</label> San Marcos, Texas</span>
                                                </li>
                                                <li>
                                                    <span><label>Study:</label> Texas State University</span>
                                                </li>
                                                <li>
                                                    <span><label>Degree:</label> Undergraduate</span>
                                                </li>
                                                <li>
                                                    <span><label>Mail:</label> <a href="mailto:example@gmail.com">mesutapilts&#64;gmail.com</a></span>
                                                </li>
                                                <li>
                                                    <span><label>Phone:</label> <a href="#">+512 785 2817</a></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="buttons_wrap">
                                            <ul>
                                                <li>
                                                    <a target="_blank" href="{{page.section1.resume.url}}"><span>{{page.section1.resume.button}}</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ABOUT -->
                
                <!-- SKILLS -->
                <div class="arlo_tm_section">
                    <div class="arlo_tm_skills_wrap">
                        <div class="container">
                            <div class="inner_wrap">
                                <div class="leftbox">
                                    <div class="arlo_tm_mini_title_holder">
                                        <h4>Technical Skills</h4>
                                    </div>
                                    <p>Languages: C++, Java, Phyton /
                                    Operating System: Mac OS X, iOS, Windows, Linux/UNIX /
                                    IDEs, Tools, Software: Eclipse, Code Blocks, IntelliJ Idea, XCode, MARS, Microsoft Office (Excel, Word, PowerPoint, Outlook) /
                                    Specific Knowledge: Serialization; Inheritance; Polymorphism; UML Diagrams; Unit Testing; Data Design and Implementation; Advanced Data Structures; Programming with Recursion; Implementation of Conditional Logic; Subroutines; Embedded Computer Systems; Java Swing & AWT; Intelligent Expert Systems; Intelligent Search; Propositional/Predicate Logic; Machine Learning; Data Mining; Shell Programming;
</p>
                                </div>
                                <div class="rightbox">
                                    <div class="progress_bar_wrap_total">
                                        <div class="arlo_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SKILLS -->
                
                <!-- SERVICES -->
                <div class="arlo_tm_section" id="services">
                    <div class="arlo_tm_services_wrap">
                        <div class="container">
                            <div class="arlo_tm_title_holder">
                                <h3>Professional Experiences</h3>
                                <span>Internships and Personal Projects</span>
                            </div>
                            <div class="list_wrap">
                                <ul>
                                    <li>
                                        <div class="inner">
                                            <div class="title_service">
                                                <h3>Software Engineer Intern, June 2019 - Present</h3>
                                            </div>
                                            <div class="text">
                                                <p>Concur Construction & Realty – Austin, Tx.
                                                •    Utilize XCode to develop an application to track real estate properties
                                                •    Attended regular meetings with the CEO and co-workers to discuss application needs
                                                •    Managed sensitive and confidential data
</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <div class="title_service">
                                                <h3>Program Developer, June 2018 - July 2018</h3>
                                            </div>
                                            <div class="text">
                                                <p>Concur Construction & Realty – Austin, Tx.
                                                •    Utilize XCode to develop an application to track real estate properties
                                                •    Attended regular meetings with the CEO and co-workers to discuss application needs
                                                •    Managed sensitive and confidential data
</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <div class="title_service">
                                                <h3>Intern, October 2015 - August 2016</h3>
                                            </div>
                                            <div class="text">
                                                <p>Terra Pave International, Inc.  – Austin, Tx.
                                                •    Utilized excellent interpersonal skills while communicating with clients for product sale
                                                •    Managed confidential data for clients
                                                •    Promoted to the position of training and supervising incoming interns
                                                •    Conducted company research with a team of 5 to expand business opportunities</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SERVICES -->
                
                <!-- PORTFOLIO -->
                <div class="arlo_tm_section relative" id="portfolio">
                    <div class="arlo_tm_portfolio_wrapper_all">

                        <!-- PORTFOLIO FILTER -->
                        <div class="arlo_tm_second_portfolio">
                        <div class="container">
                            <div class="arlo_tm_portfolio_wrap">
                                <div class="arlo_tm_title_holder portfolio">
                                    <h3>Education</h3>
                                    <span>Learn more about my education</span>
                                </div>
                                <div class="arlo_tm_portfolio_titles"></div>
                                <li>
                                                                       <div class="inner">
                                                                           <div class="title_service">
                                                                               <h3>B.S in Computer Science and Minor in Mathematics</h3>
                                                                               <span>Texas State University at San Marcos,Tx</span>
                                                                               <span>Class of 2020</span>
                                                                           </div>
                                                                           <div class="text">
                                                                               <p>Relevant Course work: Object-Oriented Design and Implementation, Computer Ethics, Assembly Language, Data Structures, Discrete Math I & II, Advanced Artificial Intelligence, Software Engineering, Computer Architecture, UNIX Systems Programming</p>
                                                                           </div>
                                                                       </div>
                                                                   </li>
            
                              
                            </div>
                        </div>
                    </div>
                    <!-- /PORTFOLIO FILTER -->

                    </div>
                </div>
                <!-- /PORTFOLIO -->
                
                <!-- TESTIMONIALS -->

                <!-- /TESTIMONIALS -->
                
                <!-- COUNTERBOX -->

                <!-- /COUNTERBOX -->
                
                <!-- NEWS -->
                <!-- /NEWS -->

                {{>footer}}
                
            </div>
        </div>
        <!-- /RIGHTPART -->
        
        <a class="arlo_tm_totop" href="#"></a>
        
    </div>
</div>
<!-- / WRAPPER ALL -->
    
<!-- SCRIPTS -->
<script src="/js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
<script src="/js/plugins.js"></script>
<script src="/js/init.js"></script>
<!-- /SCRIPTS -->

</body>
</html>

